<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene usato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per altre informazioni su questo argomento, vedere https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fiordiloto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fiordiloto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fiordiloto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fiordiloto</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:alcewebsrvdb.database.windows.net,1433;Initial Catalog=fiordiloto_db;User ID=cesare@alcewebsrvdb.database.windows.net;Password=1Bassaidai" Name="Data Source=tcp:alcewebsrvdb.database.windows.net,1433;Initial Catalog=fiordiloto_db;User Id=cesare@alcewebsrvdb.database.windows.net;Password=1Bassaidai;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FiordilotoMVC.Models.ApplicationDbContext, FiordilotoMVC" MigrationConfiguration="FiordilotoMVC.Migrations.Configuration, FiordilotoMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:alcewebsrvdb.database.windows.net,1433;Initial Catalog=fiordiloto_db;User Id=cesare@alcewebsrvdb.database.windows.net;Password=1Bassaidai;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>