
@{
    ViewBag.Title = "UploadIcona";
}
<div class="container body-content">
    <h2>Gestione immagine icona spettacolo</h2>
    <hr class="hr4" />
    @{ Html.RenderPartial("_UploadIcona"); }


</div>


