
@{
    ViewBag.Title = "Casa";
}
@*<video class="fullscreen-video" autoplay loop>
    <source src="~/Content/Video/VideoBN.mp4" type="video/mp4" />
</video>*@
<div>
    <iframe class="fullscreen-video" src="https://www.videoindexer.ai/embed/player/1df8bbe09c" frameborder="0" allowfullscreen></iframe>
</div>
<div class="div-counseling-top">
    <h1 class="text-justify">
        "La casa è il vostro corpo più grande. Vive nel sole e si addormenta nella quiete della notte; e non è senza sogni"
    </h1>
    <h2 class="text-right">Kahlil Gibran</h2>



</div>

<div class="div-counseling-bottom">
    <a href="@Url.Action("CasaContent", "Home")"><h1 class="alert alert-fiordiloto">Visita la nostra casa</h1></a>
</div>