

@{
    ViewBag.Title = "Counseling";
}
    @*<video class="fullscreen-video" autoplay loop>
        <source src="https://www.youtube.com/embed/wT7W7nRN28E" type="video/mp4" />
    </video>*@
    <div>
        <iframe class="fullscreen-video" src="https://www.videoindexer.ai/embed/player/897a2259e6" frameborder="0" allowfullscreen></iframe>
    </div>
<div class="div-counseling-top">
    <h1 class="text-justify">
        "In ogni organismo, uomo compreso, c’è un flusso costante teso alla realizzazione costruttiva delle sue possibilità intrinseche, una tendenza naturale alla crescita"
    </h1>
        <h2 class="text-right">Carl Rogers</h2>
        

    
</div>
<div class="div-counseling-bottom">
    <a href="@Url.Action("Spettacoli", "Home", new {id = "Counseling" }, null)"><h1 class="alert alert-fiordiloto">Teatro Counseling<span class="h5">®<br/>medoto Marisa Miritello</span></h1>
    </a>
</div>