
@{
    ViewBag.Title = "Come un fior di loto è";
}
<div class="container txt-viola">

    <h2 class="text-center">Come un fior di loto è...</h2>
    <p class="text-center">
        Tanto gentile e tanto onesta pare
        la donna mia quand’ella altrui saluta,<br />
        ch’ogne lingua deven tremando muta,<br />
        e li occhi no l’ardiscon di guardare.
    </p>
    <div class="row text-center">
        <div class="col-md-6">
            <a role="button" data-toggle="collapse" href="#federica" aria-expanded="false" aria-controls="federica">
                <img class="img-thumbnail" src="~/Content/Immagini/Fede2.jpg" />
            </a>
            <div class="collapse" id="federica">
                <div class="well text-justify">
                        Sono mamma. Ho quattro figli.
                        Sicuramente questa è la caratteristica che mi definisce.
                        Frequento l’Istituto Magistrale Santa Maria degli Angeli – Treviglio e mi diplomo nell’anno 1989
                        Nel 2006 frequento per quattro anni il laboratorio teatrale diretto da Franca Cugini -attrice e regista- mettiamo in scena: “Il teatrino delle meraviglie” intermezzo di Miguel de Cervantes; “Agamennone” di Eschilo; “La persecuzione e l’assassinio di Jean Paul Marat” di Peter Weiss; “Arrivano i comici” affresco sulla Commedia dell’Arte (tra cui Sganarello di Moliere).
                        Con Elletì Teatro realizzo: “Caterinì so che sol pröm basel – Storie de pura e de grignà”
                        Successivamente frequento per due anni la scuola per attore del Teatro Prova di Bergamo dove partecipo alla realizzazione di “La stazione” per la regia di Stefano Facoetti e Walter Tiraboschi.

                        La passione per il teatro non si ferma, partecipo ai seguenti stage formativi:
                    <ul>
                        <li>
                            “Dentro la maschera” con Antonio Fava (2009)

                        </li>
                        <li>
                            “La conoscenza di se attraverso il suono” con Silvia Infascelli (2010)

                        </li>
                        <li>
                            “LINGUAGGI TEATRALI gli aspetti teatrali del linguaggio poetico della Divina Commedia di Dante” con Lucilla Giagnoni (2011)

                        </li>
                        <li>
                            “Narriamo con il corpo” -Danza Butoh- con Pietro La Motta (2011) (2012)

                        </li>
                        <li>
                            “Dell’esser tanti in uno” laboratorio pratico di tecnica della narrazione condotto da Laura Curino (2011)

                        </li>
                        <li>
                            “LINGUAGGI TEATRALI La parola che incanta” con Lucilla Giagnoni (2012)

                        </li>
                        <li>
                            Partitura del corpo con Giuseppe Goisis (2012)

                        </li>
                        <li>
                            “Dizione, voce e tecnica della comunicazione verbale” con Claudio Marconi (2012-2013)

                        </li>
                        <li>
                            “Pensare alla scena” stage formativo con Cesar Brie (2013)

                        </li>
                        <li>
                            Corso tecnico di audio e luci con Giulio Fassina e Alessandro Tinelli (2013)

                        </li>
                        <li>
                            “Lettura espressiva” con Claudio Marconi (2014)

                        </li>
                        <li>
                            “Organizzazione Teatrale” a cura di Teatri Possibili (2014)

                        </li>
                    </ul>

                        Ora frequento il secondo di tre anni del “Corso triennale di Alta Formazione Professionale riconosciuto dalla F.A.I.P (Federazione Associazioni Italiane di Psicoterapia) con lo scopo di formare Operatori in Teatroterapia

                        Con la creazione nel 2012 dell’agenzia di promozione spettacolo e cultura Come un fior di loto,
                        produco:
                        “Passeggiando tra i quadri addormentati – Visita guidata cantata ai dipinti di Carlo Ceresa” (2012) Ideazione e testi di Alessandro Bottelli, musica di Giordano Bruno Ferri

                        produco e interpreto:
                        “Cara Santa Lucia… - Due serate di luce e di doni tra musica e poesia” (2012), una iniziativa di Alessandro Bottelli
                        “Lo scialle” lettura drammatizzata dall’omonimo romanzo di Cynthia Ozick (2013)
                        “Nel grembo di ogni voce - Ritratti di donna tra fantasia e realtà” (2013), una iniziativa di Alessandro Bottelli
                        “Cara Santa Lucia… – Serata di luce e di doni tra musica e poesia” - Seconda edizione (2013), voce recitante al fianco di Maurizio Donadoni
                        “La radice dell’angelo” pièce teatrale e fotografica. Testo di Riccardo Melzi, arrangiamenti musicali di Alessandro Soldani e Alessandro Pisoni (2014)
                        “Lena, o del Caravaggio” Monologo teatrale di e con Federica Cavalli. Tratto dal racconto “Lena” dal libro “Il drappo rosso del Caravaggio” di Franco Signoracci (2014)
                        “Cara Santa Lucia… – Serata di luce e di doni tra musica e poesia” - Terza edizione (2014) voce recitante al fianco di Guido Bombardieri ai clarinetti e saxofoni e Marco Gamba al contrabbasso
                        “CibArs” – Cena in jazz con letture di poesie e racconti inediti sul cibo firmati da alcuni tra i maggiori scrittori italiani (2015) voce recitante al fianco di Guido Bombardieri ai clarinetti e saxofoni e Marco Gamba al contrabbasso. Format originale e direzione artistica di Alessandro Bottelli
                        “Cara Santa Lucia… – Serata di luce e di doni tra musica e poesia” - Quarta edizione (2015) voce recitante al fianco di Guido Bombardieri ai clarinetti e saxofoni, Sergio Orlandi alla tromba, Michele Gentilini alla chitarra e Marco Gamba al contrabbasso,
                        letture:
                        “Passione di Gesù” dal Vangelo di San Giovanni

                        interpreto:
                        “Pasticcio al museo” – operina per bambini per voce recitante, flauto, oboe, clarinetto, fagotto e pianoforte - idea originale e testi di Alessandro Bottelli, musiche di Teresa Procaccini, disegni di Massimo Arzuffi, produzione “Associazione BergamoScienza” (2013)
                        Con La Ribalta dei Fratelli Calvi realizza tre intermezzi: “Piccole Cose” - “Chocolate” - “Per colpa di Ulisse”

                        organizzo:
                        •             “LINGUAGGI TEATRALI  La parola che incanta” con Lucilla Giagnoni (Caravaggio, 2012)
                        •             “Lettura espressiva” con Claudio Marconi (Caravaggio, 2014)

                        conduco:
                        •             "Lettura espressiva" per le insegnanti (Scuola dell'Infanzia - Treviglio, 2015)
                        •             "Dalle vocali alle emozioni. Un viaggio straordinario" (Scuola dell'Infanzia - Treviglio, 2015)
                        •             “Lettura espressiva” Corso per adulti (Caravaggio, 2016)

                        Federica è “già e non ancora” sempre in cammino con la curiosità e il desiderio di un bambino.
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <a role="button" data-toggle="collapse" href="#alessandro" aria-expanded="false" aria-controls="alessandro">
                <img class="img-thumbnail" src="~/Content/Immagini/Alessandro2.jpg" />
            </a>
            <div class="collapse" id="alessandro">
                <div class="well text-justify">

                    Dopo aver conseguito il diploma di maturità artistica (tra i suoi insegnanti: Mario Cornali, Calisto Gritti, Cesare Rossi, Gregorio Cividini), ha studiato pianoforte, organo e composizione principale, dapprima con Vittorio Fellegara presso l’Istituto Musicale “G. Donizetti” di Bergamo e poi con Giovanni Walter Zaramella. Parallelamente, ha seguito i corsi di Storia della Musica tenuti da Sergio Martinotti all’Università Cattolica di Milano. Si è inoltre perfezionato con András Schiff (pianoforte) a Firenze e con Azio Corghi (composizione) presso l’Accademia Chigiana di Siena.
                    A partire dal 1991 inizia una multiforme attività poetica e letteraria, contrassegnata dalla stesura di numerose raccolte in versi più volte premiate in concorsi nazionali. Suoi racconti e poesie sono stati pubblicati in riviste specializzate.
                    Redattore della rivista Arte organaria e organistica, su cui sono apparse sue articolate interviste a noti personaggi del mondo della musica e della cultura, ha curato varie presentazioni di edizioni musicali a stampa di compositori contemporanei.
                    Collabora anche con quotidiani e periodici a diffusione nazionale (Avvenire, Il Mattino). Sue interviste sono inoltre apparse su Famiglia cristiana, Letture, Poesia, Specchio, Corriere della Sera.
                    Autore di originali concerti-spettacolo per grandi e piccini (I piccioni di Puccini, piccola storia poetico-zoologica della musica italiana, con disegni di Aldo Bortolotti e musiche di Giordano Bruno Ferri; Un micio tutto riccio, episodi dalla vita di un impiegatto e A cosa pensa, signor Beethoven?, con musiche originali sempre di G. B. Ferri; Serata Animalocche, musiche di quattro compositori contemporanei scritte per diversi organici e ispirate alla medesima raccolta di poesie), nel 2010 realizza Come tanti e alati petali di cielo, sacra fioritura per soli, coro di voci bianche e strumenti ispirata alla pala di S. Bernardino di Lorenzo Lotto (musiche di G. B. Ferri), lavoro promosso dal festival Desidera in collaborazione con Gioventù Musicale e che riscuote uno straordinario successo, grazie anche alla partecipazione del jazzista Gianluigi Trovesi e del direttore d’orchestra Stefano Montanari. Per l’occasione, redige una presentazione scritta in cui per la prima volta si evidenziano con estrema precisione particolari inediti del capolavoro lottesco (le ali di ghiandaia dell’angelo reggidrappo, quelle poco adatte al volo dell’angelo scrivano), mai indagate in precedenza dalla critica d’arte.
                    Sempre nel 2010 porta a compimento un altro consistente lavoro ispirato a quadri di Caravaggio: In tempo tagliato, esecuzione capitale per soli, 13 strumenti, percussioni e due danzatori, con le musiche di G. B. Ferri, rappresentato nella basilica di S. Alessandro in Colonna.
                    Nel 2012 inventa e realizza, grazie alla lungimiranza e all’amicizia con il pittore Marcello Arzuffi, la prima visita guidata cantata a una esposizione di quadri, un nuovo, affascinante modo di illustrare le opere d’arte attraverso la poesia, il canto e la musica. L’invenzione è subito ripresa e sviluppata in modo più articolato in Passeggiando tra i quadri addormentati…, per baritono, quartetto vocale e fisarmonica (maggio 2012), eseguito nelle sale della GAMeC di Bergamo in occasione della grande mostra dedicata al pittore secentesco Carlo Ceresa, e nel successivo Guardando Lee (con musiche di Damiano Rota, maggio 2014), evento programmato nell’ambito della personale del pittore coreano Lee Jong Man.
                    Ispirandosi ancora a un dipinto di Carlo Ceresa già esposto in mostra, costruisce l’evento in due serate Cara Santa Lucia… (dicembre 2012), coinvolgendo grandi nomi della letteratura (Camilleri, Maraini, Benni, Scarpa, Maggiani), della poesia (Spaziani, Lamarque, Magrelli, Cucchi, Conte, Loi, Mussapi), del cinema (Olmi) e della musica (Morricone), dei quali verranno letti testi inediti ed eseguite composizioni originali, appositamente create per questa iniziativa. La seconda edizione, svoltasi nel dicembre 2013, ha visto la presenza dell’attore Maurizio Donadoni e la partecipazione di altri 30 autori (ricordiamo: Vitali, Parrella, Nove, Balestrini, Benedetti, Buffoni, Ramat, Zeichen, Bacchini, Bandini, Piumini, Bartezzaghi) e di 8 compositori.
                    Con lo spettacolo poetico-musicale Nel grembo di ogni voce. Ritratti di donne tra fantasia e realtà (Bergamo, marzo 2013), basato su 24 testi in versi di altrettante poetesse italiane contemporanee e in cui sono presentati per la prima volta tre nuovi brani scritti da importanti compositrici italiane, rielabora il tradizionale recital di poesia vivificandolo grazie alla definizione di nuove soluzioni tese a valorizzare la parola nelle sue infinite e possibili sfumature.
                    Su invito di mons. Andrea Paiocchi, nel 2013 ha scritto l’inno ufficiale del Santuario di Borgo S. Caterina, musicato da mons. Giuseppe Liberto, direttore emerito della Pontificia Cappella Musicale Sistina, ed eseguito in concerto alla presenza del compositore il 31 maggio 2014.
                    Sempre nel 2013 ha realizzato, in collaborazione con la compositrice Teresa Procaccini, l’operina per bambini Pasticcio al museo, per voce recitante, flauto, oboe, clarinetto, fagotto e pianoforte, presentata durante la giornata conclusiva dell’undicesima edizione di BergamoScienza.
                    Ha inoltre fornito testi per musica ai seguenti compositori: Ennio Morricone, Alberto Colla, Giampaolo Testoni, Carlo Pedini, Paolo Ugoletti, Carlo Galante, Ada Gentile, Teresa Procaccini, Carla Rebora, Biancamaria Furgeri, Federico Biscione, Rossano Pinelli, Sergio Gianzini, Roberto Cognazzo, Riccardo Giavina, Giancarlo Facchinetti, Guido Donati, Angelo Mazza, Alberto Bonacina, Natale Arnoldi, Andrea Nosari, Marco Mojana, Riccardo Castagnetti, Damiano Rota, Gabriele Rota, Fabio Locatelli.
                    Con quest’ultimo ha pubblicato presso le Edizioni Carrara Il dono delle nuvole, una raccolta di 8 piccole preghiere-giocattolo per coro di voci bianche e pianoforte. Altri suoi testi musicati sono editi da Sonzogno, Sconfinarte, Preludio, EDI-PAN.                </div>
            </div>

        </div>
    </div>

</div>
<h1></h1>
<div class="div-fdl1">
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-center">Questa immagine è messa assolutamente a caso</h1>
            <h3 class="text-justify">Qui potremmo inserire una finestra per le collaborazioni più importanti o qualcosa relativo all'inizio di Come un Fior di Loto </h3>

        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-center">Hanno collaborato con noi</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="~/Content/Immagini/FotoIscritti/anonimous.jpg" />
                <div class="caption">
                    <h3>Nome Cognome</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Altre info</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
