
@{
    ViewBag.Title = "Pagina";
}

<div class="div-counseling-top">
    <h1>
        "In ogni organismo, uomo compreso, c’è un flusso costante teso alla realizzazione costruttiva delle sue possibilità intrinseche, una tendenza naturale alla crescita"
    </h1>
    <h3 class="text-right">Carl Rogers</h3>



</div>
@{ Html.RenderPartial("CounselingIntro"); }
