

@{
    ViewBag.Title = "Spettacoli";
}
<img class="fullscreen-video" src="@Url.Content("~/Content/Immagini/" + @ViewBag.Title + ".jpg")" />
<a href=#nogo" title="Slide" class="btn btn-intro" ><span class="fa fa-pencil fa-3x"></span></a>
<div class="div-counseling-top">
    <h1 class="text-justify">
        "Oh spettacolo! Così muore ciò che i popoli fanno! Che un tal passato per l'anima è un abisso profondo! "
    </h1>
    <h2 class="text-right">Le voci interiori, 1837</h2>



</div>
<div class="div-counseling-bottom">
    <a href="@Url.Action(ViewBag.Title, "Home", new {id = "Counseling" }, null)">
        <h1 class="alert alert-fiordiloto">Spettacoli</h1>
    </a>
</div>